@page "/inicio"

<div class="bg_animate" id="bg_animate">

    <div class="banner contenedor" id="banner contenedor">
        <div class="rowcomponents">
            <div class="col-lg-6 mb-5 mb-lg-0" id="saludo-petra">
                <h1 class="my-5 display-5 fw-bold ls-tight">
                    <span class="animation-typing" id="animation-typing">
                        Petra Services <br />
                    </span>
                    <span class="slogan-petra">Soluciones que transcienden</span>
                </h1>
                <p className="mb-4 opacity-70" id="petra-informacion">
                    Si buscas un impecable servicio al cliente, llegaste al lugar indicado.
                    Con Petra Services tienes la solución que buscas al alcance de la mano.
                    ¡Contactanos para trabajar en tus necesidades en ingeniería de procesos y
                    aplicación a la tecnología y tu satisfacción estará garantizada!
                </p>
                <button class="btn btn-outline-secondary" id="button-petra" href="https://petraservices.co/">
                    ¿Necesitas ayuda?
                </button>
            </div>
            <div class="banner_img" id="banner_img">
                <img src="https://cdn-icons-png.flaticon.com/512/6008/6008606.png" alt="" />
            </div>

        </div>
    </div>
</div>
<div class="burbujas" id="burbujas">
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
</div>



@code {
    
}
