@inherits LayoutComponentBase

<div class="page">
   @if(token == false){
        
      <article class="sidebar">
          <Menu />
      </article>
      <article class="content" id="content-article">
        @Body
        <br />
      </article>
    }
    else
    {
      <Login />
    }

</div>

<style>
    #content-article{
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-top: 35px;
    }
    .sidebar{
        margin-right:10px;
    }
</style>

@code{
    private Boolean token = false;
}


