@page "/movimientos"
@using ControWell.Client.Pages.Balance.Components

<h3>Titulo de relleno</h3>

@* <MisMovimientos />
*@

<div class="component-container">

    <div class="registro-datos-container">
     <IngresoDatos/>
    </div>
    <div class="registro-datos-container">
        <div class="varaibles-operacion-container">
            <div class="variables">
                <MisMovimientos/>
            </div>
            <div class="variables">
              
            </div>
            <div class="variables">
               
            </div>
        </div>
    </div>
    <div class="registro-datos-container">
        <Imagen />
    </div>
</div>

<div class="bottom-container">
 <EstadoActual/>
</div>
<TransferenciaEntreTanques/>
<style>

 .bottom-container{
     width:100%;
     height:35%;
        background-color: grey;
        /*     background-color: red;
*/ }

.component-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: grey;
        /*    background-color: aqua;
*/}

 .registro-datos-container{
     width: 50%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
  }

    .varaibles-operacion-container {
        width: 100%;
        height: 100%;
/*        background-color:greenyellow
*/    }

    .variables {
        margin-bottom: 3px;
        margin-top: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 /*   .varaibles-operacion-container div{
        margin-bottom:20px;
    }*/
</style>




