@page "/usuariodetalle"
@page "/usuariodetalle/{id:int}"
@using ControWell.Client.Services.UsuarioService;
@inject IUsuarioService UsuarioService
<h3>UsuarioDetalle</h3>

@if (Id == null)
{
    <PageTitle>Añadir un nuevo pozo</PageTitle>
    <h3>Añadir un nuevo pozo</h3>
}
else
{
    <PageTitle>Edit @usuario.Nombre</PageTitle>
    <h3>Edit @usuario.Apellido</h3>
}


<ul>
    <li>@usuario.Nombre</li>
</ul>

@code {

    [Parameter]
    public int? Id { get; set; }

    string btnText = string.Empty;

    Usuario usuario = new Usuario();

    
    
}